@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.hideScroll::-webkit-scrollbar-track{
  display: none !important;
  width: 0px;
}

::selection{
  background: #0043faca;
  color: #c5d8ffca;
}

.fonts{
  font-family: 'Roboto Mono', monospace;
  font-weight: 700; /* You can adjust the weight (100, 200, 300, 400, 500, 600, 700) as needed */
  font-style: normal; /* Set to 'italic' if you need an italic style */
}

.bg-grid-xsm {
  background-size: 5px 5px;
  background-image: linear-gradient(to right, #ffffff0b 0.5px, transparent 0.5px), linear-gradient(to bottom, #ffffff0b 0.5px, transparent 0.5px);
  /* animation: moveGrid 5s linear infinite; */
}
.bg-grid {
  background-size: 10px 10px;
  background-image: linear-gradient(to right, #cccccc23 0.5px, transparent 0.5px), linear-gradient(to bottom, #cccccc23 0.5px, transparent 0.5px);
  animation: moveGrid 5s linear infinite;
}

.bg-grid-md {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #3030314a 0.5px, transparent 0.5px), linear-gradient(to bottom, #3030314a 0.5px, transparent 0.5px);
  animation: moveGrid 5s linear infinite;
}
.bg-grid-md-not-animated {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #3030314a 0.5px, transparent 0.5px), linear-gradient(to bottom, #3030314a 0.5px, transparent 0.5px);
}

.bg-grid-md-not-animated-blu {
  background-size: 160px 160px;
  background-image: linear-gradient(to right, #3030314a 0.5px, transparent 0.5px), linear-gradient(to bottom, #3030314a 0.5px, transparent 0.5px);
  animation: moveGrid 20s linear infinite;
}
.bg-grid-lg-not-animated {
  background-size: 60px 60px;
  background-image: linear-gradient(to right, #30303118 0.5px, transparent 0.5px), linear-gradient(to bottom, #30303118 0.5px, transparent 0.5px);
}

.bg-grid-lg{
  background-size: 60px 60px;
  background-image: linear-gradient(to right, #3030314a 0.5px, transparent 0.5px), linear-gradient(to bottom, #3030314a 0.5px, transparent 0.5px);
  animation: moveGrid 5s linear infinite;
}

@keyframes moveGrid {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 60px;
  }
}


/* .style-before-a{
  background-color: whitesmoke;
} */

.style-before-a::after{
  content: '';
  position: absolute;
  height: 4rem;
  width: 16.1rem;
  padding-left: 1.5rem ;
  padding-right: 1.5rem;
  margin-left: 2rem;
  background-color: #6da0f9;
  transform: rotateZ(10deg);
  transition: 0.1s linear;
  z-index: -1;
}

.style-before-a:hover::after{
  transform: rotateZ(0deg);
  height: 4rem;
  margin-left: 0px;
  transition-duration: 200ms;
}

@media (max-width: 639px) {
  .style-before-a::after{
    content: '';
    position: absolute;
    height: 3rem;
    width: 16.1rem;
    padding-left: 1.5rem ;
    padding-right: 1.5rem;
    margin-left: 2rem;
    background-color: #6da0f9;
    transform: rotateZ(10deg);
    transition: 0.1s linear;
    z-index: -1;
  }
  
  .style-before-a:hover::after{
    transform: rotateZ(0deg);
    height: 3rem;
    margin-left: 0px;
    transition-duration: 200ms;
  }

  .text-mediaQ{
    line-height: 3.5rem;
    font-size: 2.2rem;
  }

}

@media (max-width: 585px) {
  .text-mediaQwrap{
    font-size: 1.5rem;
  }
}

@media (max-width: 445px) {
  .text-mediaQwrap{
    font-size: 1.2rem;
    gap: .5rem !important;
  }
}


@media (max-width: 300px) {
  .text-mediaQ{
    line-height: 2.8rem;
    font-size: 1.8rem;
    /* padding: 0px; */
  }

  .style-before-a{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    width: 12rem !important;
    height: 2rem !important;
    font-size: 1.5rem !important;
  }

  .style-before-a::after{
    content: '';
    position: absolute;
    height: 3rem;
    width: 12.5rem;
    padding-left: 1.5rem ;
    padding-right: 1.5rem;
    margin-left: 1rem;
    background-color: #3780ff9f;
    transform: rotateZ(10deg);
    transition: 0.3s linear;
    z-index: -1;
  }
  
  .style-before-a:hover::after{
    transform: rotateZ(0deg);
    height: 3rem;
    margin-left: 0px;
    transition-duration: 300ms;
  }
}


/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
:root{
  --font-weight-reg: 400;
  --font-weight-md: 600;
  --font-weight-semibold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}
.electrolize-regular {
  font-family: "Electrolize", sans-serif;
  font-weight: var(--font-weight-reg);
  font-style: normal;
}

.electrolize-regular-medium {
  font-family: "Electrolize", sans-serif;
  font-weight: var(--font-weight-md);
  font-style: normal;
}

.electrolize-regular-semibold {
  font-family: "Electrolize", sans-serif;
  font-weight: var(--font-weight-semibold);
  font-style: normal;
}

.electrolize-regular-extrabold {
  font-family: "Electrolize", sans-serif;
  font-weight: var(--font-weight-extrabold);
  font-style: normal;
}

.electrolize-regular-black {
  font-family: "Electrolize", sans-serif;
  font-weight: var(--font-weight-black);
  font-style: normal;
}


/*  */

.bg-bg{
  margin: 0;
  height: 100vh;
  background: linear-gradient(45deg, #88b0f6 25%, #82b0ff 25%, #ffffff 50%, #88b0f6 25%, #ffffff 75%, #ffffff 75%);
  background-size: 200% 200%;
}


